<div class="container d-flex flex-row align-items-center h-100">
  <div class="bg-slate container d-flex flex-column pb-3 pt-4 rounded">
    <div class="row d-flex pl-3 pr-3">
      <div class="col-md-6 d-flex flex-row justify-content-center">
        <p class="h5 font-weight-bold">Welcome back!</p>
      </div>
    </div>
    <form class="w-100">
      <div class="form-group">
        <div class="col-md-6 mb-3">
          <form-input id="registerUsername" label="Username" icon="person-fill" placeholder="" focus="true">
          </form-input>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 mb-3">
          <form-input type="password" id="registerPassword" label="Password" icon="lock-fill" placeholder="">
          </form-input>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 mt-4 d-flex flex-column align-items-center">
          <custom-button icon="box-arrow-in-right" role="primary" type="submit" class="w-100">Login</custom-button>
          <custom-button role="link" to="/register">Don't have an account?</custom-button>
        </div>
      </div>
    </form>
  </div>
</div>